.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 18px 0 18px;
}

.card {
  vertical-align: top;
  width: 14em;
  height: 19.4em;
  background-repeat: no-repeat;
  border-radius: 12px;
}

/*this setting will be useful for creating a hand*/
/*padding: 0 calc((100% - 180px * 5) / 10);*/
